<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dt" class="java.util.Date">

        <property name="date" value="23"></property>

    </bean>

    <bean id="wmg" class="com.codelounge.beans.WishGenerator">
        <!--<constructor-arg name="date" ref="dt"-when commented )-arg contructor will get called-->

        <property name="date" ref="dt"></property>

    </bean>


</beans>